#hotSell{
    border: 10px solid blue;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
    height: 400px;
    width: 200px;
    background-image: url("pexels-matheus-henrin-2121323.jpg");
    
}
h3{
    background-color: red;
    color: whitesmoke;
    display: inline;
}
h4{
    background-color: red;
    color: whitesmoke;
    display: inline;
}